{% extends "base.html" %}
{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
<!--код flask для отображения flash сообщений-->
{% for cat, msg in get_flashed_messages(True) %}
<div class="container-md mt-2">
<div class="flash {{cat}}">{{msg}}</div>
</div>
{% endfor %}
<div class="container-md mt-2">
    <form action="/logout/" method="POST">
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Выйти</button>
        </div>
    </form>
</div>
{% endblock %}